*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.display {
  width: 100vw;
  height: 100vh;
  background: #3F3F2E linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 51%);
  background-size: 100% 5px;
  padding: 2em;
  color: #8EF5DE;
  font-family: "Courier New", Courier, monospace;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 1.5;
  filter: blur(0.125px);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.7) inset;
  animation: scanlines 40s infinite;
}

@keyframes scanlines {
  from {
    background-position: 0 -100%;
  }
  to {
    background-position: 0 0;
  }
}
.typewriter {
  display: inline-block;
}

.typewriter::after {
  position: relative;
  display: inline-block;
  content: "";
  width: 0.45em;
  height: 0.85em;
  background-color: #8EF5DE;
  margin-left: 1em;
  animation: blink 1.25s infinite;
  box-shadow: 0 1px 10px #8ef5de;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
textarea {
  background-color: transparent;
  color: #8EF5DE;
  font-size: 18px;
}